/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login start here--*/
 body{
  font-family: 'Roboto', sans-serif;
   font-size: 100%;
   background:#313144;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--header start here--*/
h1 {
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 3em 0em 2em 0em;
  font-family: 'Quicksand', sans-serif;
}
.pointer {
  cursor: pointer;
}
ul li.pointer {
  color: white;
}
.element {
  width: 40%;
  margin: 0 auto 7em;
}
.ele-strip {
  background: #fda660;
  padding: 1em 1em;
  margin: -3px 0px 0px 0px;
}
.temperatur {
  background: #5fb3f9;
  text-align: center;
  padding: 1em 1em;
  border-radius: 5px;
  margin-bottom: 2.5em;
}
.ele-strip ul{
  text-align: center;
}
.ele-strip ul li {
  display: inline-block;
  padding: 0em 0.5em;
  border-right: 1px solid #fff;
}
.ele-strip ul li a{
  font-size:1em;
  color: #fff;
}
/*--teddy-bear--*/
.teddy-bear {
  text-align: center;
}
.teddy-text {
  background: #fd7b87;
  padding: 1.2em 1em;
  border-radius: 5px 5px 0px 0px;
}
span.line {
  background: url(../images/line.png)no-repeat;
  width: 103px;
  height: 2px;
  display: block;
  margin: 0.6em auto 0em;
}
span.w-line {
  background: url(../images/w-line.png)no-repeat;
  width: 103px;
  height: 2px;
  display: block;
  margin:0.73em auto 0.72em;
}
.teddy-text h4 {
  color: #fff;
}
.teddy-text img {
  border-radius: 70px;
  border: 3px solid #fff;
}
.teddy-follow {
  background: #f2f1ef;
  padding: 0.7em 0em 0.7em 0em;
  border-radius: 0px 0px 4px 4px;
}
.teddy-follow li {
  display: inline-block;
  padding:0em 0.9em;
}
.teddy-follow li h3 {
  font-size: 0.95em;
  color: #000;
  font-weight: bold;
}
.teddy-follow li p {
  font-size: 0.8em;
  color: #8A8A8A;
}
.teddy-follow li.folw-h {
  border-right: 1px solid #000;
}
.element-bg-img img {
  border-radius: 6px 6px 0px 0px;
}
span.cloud {
  background: url(../images/cloudy.png)no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
}
.element-left {
  float: left;
  width:50%;
}
.element-right {
  float: right;
   width: 35%;
}
.temperatur h5 {
  color: #fff;
  font-size: 1em;
}
.temperatur h2 {
  color: #fff;
  font-size: 3.2em;
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
}
.temperatur h6 {
  font-size: 1em;
  color: #fff;
  margin:1em 0em 0em 0em;
}
ul li.anc-bor {
    border-right: none;
}
/*--scroll --*/
.span_7 {
  padding-left: 0;
}
.span_8{
	text-align:center;
	padding-left: 0;
}
.col_2 {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
.grid-1, .grid-2, .grid-3, .grid-4{
    display: inline-block;
}
.grid-1 {
  margin-bottom: 2em;
}
.grid-1, .grid-3{
	margin-right:10%;
	width: 27%;
}
.activity-row, .activity-row1{
  text-align: left;
}
i.text-info{
  float: left;
  line-height: 60px;
  font-size: 1.2em;
}
.activity-img{
  text-align:center;
}
.activity-img img{
  display:inline-block;
}
.activity-desc h5{
	color:#000;
	font-size:1em;
	font-weight:500;
	margin-bottom: 5px;
}
.activity-desc h5 a{
	color:#000;
}
.activity-desc p{
	color:#999;
	font-size:0.94em;
	line-height:1.7em;
}
.activity-desc h6 {
    color: #fd7b87;
    font-size: 13px;
    margin: 13px 0 0 0;
    font-weight: bold;
}
.activity-row{
	margin-bottom:1em;
}
.scrollbar{
	height:115px;
	background:#fff;
	overflow-y: scroll;
       padding: 1em 1em 0em 1em;
}
.activity_box{
  background: #fff;
  min-height: 120px;
}
#style-2::-webkit-scrollbar-track
{

	background-color:#f0f0f0;
}

#style-2::-webkit-scrollbar
{
	width:5px;
	background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb
{

	background-color:#fda660;
}
.activity-desc {
    float: left;
    width: 50%;
}
.activity-img {
    float: right;
    width: 50%;
}
.activity-img ul li {
    display: inline-block;
}
.activity-img ul li img{
    border-radius:50px;
}
/*--village start here--*/
.village {
  background: #fff;
  padding: 1.5em 1em;
  border-radius: 0px 0px 5px 5px;
}
.village h3 {
  text-align: center;
  font-size: 0.95em;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.copy-right {
  text-align: center;
  padding:0em 0em 2em 0em;
}
.copy-right p {
  font-size: 1em;
  color: #fff;
  line-height: 1.6em;
}
.copy-right p a{
    color: #fd7b87;
}
.copy-right p a:hover{
    color: #fff;
    text-decoration:none;
}
.clear{
   clear:both;
}
/*--meadia quries start here--*/
@media(max-width:1600px){
.temperatur {
    margin-bottom:1.95em;
}
}
@media(max-width:1440px){
.jspVerticalBar {
  width: 15px!important;
}
.ele-strip ul li {
  padding: 0em 0.8em;
}
.element-right {
  width: 40%;
}
.element {
  width: 43%;
}
.ele-strip ul li {
  padding: 0em 0.4em;
}
.teddy-text {
  padding: 1.2em 1em;
}
.temperatur {
    margin-bottom: 1.5em;
}
}
@media(max-width:1366px){
.element-left {
  width: 55%;
}
.element {
  width: 44%;
}
.temperatur {
    margin-bottom: 2.5em;
}
}
@media(max-width:1280px){
.teddy-text h4 {
  font-size: 0.95em;
}
.element {
  width: 47.5%;
}
}
@media(max-width:1024px){
.element {
  width: 58.5%;
}
.temperatur {
    margin-bottom: 2.3em;
}
}
@media(max-width:768px){
.element {
  width: 76.5%;
}
.temperatur {
    margin-bottom: 2.1em;
}
}
@media(max-width:736px){
.temperatur {
  margin-bottom: 2em;
}
}
@media(max-width:667px){
.element {
  width: 85.5%;
}
.temperatur {
  margin-bottom: 2em;
}
}
@media(max-width:640px){
.element {
  width: 90.5%;
}
.temperatur {
    margin-bottom:2.3em;
}
.teddy-text {
    padding: 1em 1em;
}
}
@media(max-width:600px){
.element {
  width: 94.5%;
}
}
@media(max-width:568px){
.element {
  width: 98%;
}
}
@media(max-width:480px){
.element-left {
  width: 100%;
  float: none;
}
.element-right {
  width: 100%;
  float: none;
  margin: 1.5em 0em 0em 0em;
}
.element {
  width: 80%;
}
h1 {
  font-size: 1.8em;
  margin: 1.5em 0em 1em 0em;
}
.jspContainer {
  width: 335px !important;
}
.temperatur {
  margin-bottom: 1.5em;
}
}
@media(max-width:414px){

}
@media(max-width:384px){

}
@media(max-width:375px){

}
@media(max-width:320px){
h1 {
  font-size: 1.5em;
  margin: 1em 0em 1em 0em;
}
.element {
  width: 95%;
  margin: 0 auto 2em;
}
.jspContainer {
  width: 259px !important;
}
.row.row1.scroll-pane.jspScrollable {
  width: 260px!important;
}
.ele-strip ul li a {
  font-size: 0.9em;
}
.top-on1 h4 {
  font-size: 0.84em;
}
.top-on1 h5 {
  font-size: 0.75em;
}
.copy-right p {
  font-size: 0.85em;
}
.activity-desc h5 {
    color: #000;
    font-size: 0.95em;
}
.activity-desc p {
    font-size: 0.8em;
}
.activity-desc h6 {
    font-size: 12px;
}
}
